body {
    -webkit-user-select: none;
    background: #C9D6FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    -webkit-app-region: no-drag;
}

.dragline {
    -webkit-app-region: drag;
}

.mdui-card {
    border-radius: 8px;
    background-color: rgba(#F5F5F599);
}

.mdui-card-actions {
    background-color: rgba(#F5F5F599);
}

.mdui-drawer {
    background-color: whitesmoke;
}

.mdui-dialog {
    border-radius: 5px;
}