body {
    -webkit-user-select: none;
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}

a {
    -webkit-app-region: no-drag;
}

.dragline {
    -webkit-app-region: drag;
}

.mdui-card {
    border-radius: 8px;
    background-color: rgba(#F5F5F599);
}

.mdui-card-actions {
    background-color: rgba(#F5F5F599);
}

.mdui-dialog {
    border-radius: 5px;
}