body::-webkit-scrollbar {
    width: 0
}

body {
    -webkit-user-select: none;
    margin-bottom: 16px;
    background: url("../res/img/BackGround.png") no-repeat 50%/cover fixed, linear-gradient(90deg, rgb(35, 37, 38), rgb(65, 67, 69));
}

a {
    -webkit-app-region: no-drag;
}

pre {
    background-color: lightslategrey;
    color: white;
}

.dragline {
    -webkit-app-region: drag;
}

.mdui-dialog {
    border-radius: 5px;
}

.mdui-container {
    animation: Animation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.mdui-color-white {
    color: #CFCFCFCF;
}

.mdui-card {
    box-shadow: 0 0 30px rgba(0, 0, 0, .07), 0 10px 20px rgba(0, 0, 0, .1);
    border-radius: 8px;
    transition: box-shadow ease-out .2s;
    will-change: box-shadow;
    background-color: rgba(255, 255, 255, .90);
    backdrop-filter: blur(20px);
    border: none;
}

.mdui-card-actions {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mdui-card-header,
.mdui-card-contents {
    margin-top: 8px
}

.mdui-drawer {
    box-shadow: 0 0 30px rgba(0, 0, 0, .07), 0 10px 20px rgba(0, 0, 0, .1);
    transition: box-shadow ease-out .2s;
    will-change: box-shadow;
    background-color: rgba(255, 255, 255, .90);
    backdrop-filter: blur(20px);
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.mdui-dialog {
    height: 200px;
}

@keyframes Animation {
    0% {
        opacity: 0;
        width: 70%;
    }

    100% {
        opacity: 1;
        width: 92%;
    }
}